.ice-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(to bottom right, #1c69cc, #00d4ff);
  }

  h1 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  h2 {
    color: white;
  }
  
  .cards-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
     margin-top: 2rem;
  }
  

  @media only screen and (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
  }